<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <nav>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <img src="/assets/logo 1.svg" alt="Image not available">    

                </div>
                <div class="col-md-7 my-auto">
                    <ul class="navList">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#Tracks">Tracks</a></li>
                        <li><a href="#Prizes">Prizes</a></li>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="main">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 my-auto">
                    <h1>
                        Fasten Your Seatbelts <strong>Tenet</strong> Is Here
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, consequuntur
                    </p>
                    <button class="btn btn-purple">
                        REGISTER
                    </button>
                </div>
                <div class="col-md-6 h-75 my-auto">
                    <div class="dummy-div mx-auto">
                        This needs to be replaced
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="AboutUs" class="AboutUs">
        <div class="container p-5">
            <div class="text-center">
                <h2 class="py-5">ABOUT US</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam itaque, iste dolor obcaecati quasi adipisci ratione, pariatur rerum dolorem, optio distinctio magnam? Pariatur illo distinctio suscipit hic atque itaque dolorem repudiandae soluta quas corporis. Iste unde blanditiis reprehenderit inventore enim totam distinctio similique voluptates reiciendis, explicabo at fuga? Perferendis aperiam id obcaecati cum quisquam accusamus modi quasi aliquam consequatur amet.
                </p>
            </div>
        </div>
    </section>
    <section id="Tracks" class="Tracks">
        <div class="container p-5">
            <h2 class="py-5 text-center">TRACKS</h2>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

        </div>
    </section>
    <section id="Prizes" class="Prizes">
        <div class="container">
            <h2 class="py-5 text-center">
                Prizes
            </h2>
            <div class="row py-5">
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
    