<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tenet</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>


    <nav>
        <div class="container desktop">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <img src="/assets/logo 1.svg" alt="Image not available">    
                </div>
                <div class="col-md-6 my-auto">
                    <ul class="navList">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#Tracks">Tracks</a></li>
                        <li><a href="#Prizes">Prizes</a></li>
                        <li><a href="#">Sponsors</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 my-auto">
                    <img class="w-100" src="/assets/media/GDSClogo.png" alt="Image not available">    
                </div>
            </div>
        </div>
        <div class=" container mobile">
            <span onclick="dropDown()" class="ham">
                <i class="fa fa-bars"></i>
            </span>
            <span class="mx-auto text-right">
                <img src="/assets/logo 1.svg" alt="Image not available">    
                <img class="w-50" src="/assets/media/GDSClogo.png" alt="Image not available"> 
            </span>
            <div class="dropDown">
                <a href="#">Home</a>
                <a href="#">Dashboard</a>
                <a href="#Tracks">Tracks</a>
                <a href="#Prizes">Prizes</a>
                <a href="#">Sponsors</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </nav>


    <section class="main">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 my-auto">
                    <h1>
                        Fasten Your Seatbelts <strong>Tenet</strong> Is Here
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, consequuntur
                    </p>
                    <button class="btn btn-purple">
                        REGISTER
                    </button>
                </div>
                <div class="col-md-6 h-50 my-auto">
                    <div class="dummy-div mx-auto">
                        This needs to be replaced
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="AboutUs" class="AboutUs">
        <div class="container p-5">
            <div class="text-center">
                <h2 class="py-5">ABOUT US</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam itaque, iste dolor obcaecati quasi adipisci ratione, pariatur rerum dolorem, optio distinctio magnam? Pariatur illo distinctio suscipit hic atque itaque dolorem repudiandae soluta quas corporis. Iste unde blanditiis reprehenderit inventore enim totam distinctio similique voluptates reiciendis, explicabo at fuga? Perferendis aperiam id obcaecati cum quisquam accusamus modi quasi aliquam consequatur amet.
                </p>
            </div>
        </div>
    </section>
    <section id="Tracks" class="Tracks">
        <div class="container p-5">
            <h2 class="py-5 text-center">TRACKS</h2>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="dummy-div"></div>
                </div>
                <div class="col-md-7 py-4">
                    <h4>
                        TITLE
                    </h4>
                    <p class="my-4">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto fugit nam facilis saepe minus rerum quos, ipsa molestiae asperiores odit tempore, facere ipsum ducimus expedita quis aliquam natus omnis. Quisquam ipsa fugit eum possimus iste architecto mollitia quasi alias officiis!
                    </p>
                    <button class="btn btn-purple-outline">
                        <div class="dark-bg">
                            <div class="btn-text">
                                REGISTER
                            </div>
                        </div>
                    </button>
                </div>
            </div>

        </div>
    </section>
    <section id="Prizes" class="Prizes">
        <div class="container">
            <h2 class="py-5 text-center">
                Prizes
            </h2>
            <div class="row py-5">
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
                <div class="col-md-6">
                    <div class="dummy-prize"></div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer_section">
          <div class="footer_section_1">
            <div class="footer_section_1_content">
              <img src="assets/media/chitkara_logo.png" />
              <div>
                <h1>About Chitkara University</h1>
                <p>
                  Chitkara university is a private university located in
                  Rajpura,Punjab, India. It offers undergraduate programs,
                  post-graduate program and doctoral programs in fields of
                  engineering, management, pharmacy, and education.
                </p>
              </div>
            </div>
          </div>
          <div class="footer_section_1">
            <div class="footer_section_1_content">
              <img src="assets/media/octahcks_logo.png" />
              <div>
                <h1>About Octahacks</h1>
                <p>
                  This November, Octahacks is back with it's fourth edition,
                  Octahacks 4.0. Expect more than 36 hours of inspiring panel
                  discussions, empowering tech products, networking opportunities
                  with budding developers and lots of fun!
                </p>
              </div>
            </div>
          </div>
          <div class="footer_section_2" id="footer">
            <div class="social_icons">
              <a href="https://www.instagram.com/gdsc_ciet/" target="_blank"
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/gdsc-ciet/mycompany/"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
              <a href="https://discord.com/invite/DJzfRCSqwe" target="_blank"
                ><i class="fab fa-discord"></i
              ></a>
              <a href="https://github.com/DSC-ChitkaraUniv" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
              <a href="https://twitter.com/gdscciet" target="_blank"
                ><i class="fab fa-twitter"></i
              ></a>
              <p>For more updates,<br />follow us on all social media.</p>
            </div>
          </div>
        </div>
        <div class="footer_section_3 mx-auto">
          <p>Architected with ♥ by GDSC Core Team</p>
          <img src="assets/media/GDSClogo.png" />
        </div>
      </footer>
    <script src="js/script.js"></script>
</body>
</html>
    